@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}
html{
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-pading,5rem);
}
body{
    background:#ededede5;
   } 
   .contain{
    position: absolute;
    top: 0;
    left: 0;
    height: 3.5rem;
    width: 100%;
    padding: 10px 5px;
    background: rgb(15, 23, 48);
    transition: var(--tran-05);
   }
   .contain img{
    margin: 5px 32%;
   }
   .left{
    margin: -26% -18px;
   }
   .left a img{
    margin: -17.5% 10%;
    cursor: pointer;
   }
   .img img{
    margin: 0px 20%;
    transition:opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0s;
   }
.page-content p {
    color: #000000;
    font-family:poppins,sans-serif;
    font-size:28px;
    padding: 15% 25px;
    font-weight:bold;
    display: flex;
    letter-spacing: 1.7px;
    margin-top: 5%;
    padding-bottom: 0px;
    text-align: center;
    justify-content: center;
}
.intro{
    height: 21.2rem;
    width: 22rem;
    margin: 8% 16.5px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.937);
}
.home img{
    margin: 2% 21.6%;
}
.img span{
    color: #153bad;
    font-size: 22px;
    letter-spacing: 1px;
    font-family:poppins ,sans-serif;
    font-weight:800;
    letter-spacing:2px;
    margin-top: -15px;
    padding-left:38%;
    padding-top:3%;
}
.img h1{
    font-size: 12px;
    color: #000000;
    position: absolute;
    display: flex;
    font-size: 14px;
    font-family: poppins;
    padding: 30px;
    margin: -1.5rem 0px;
}
.linkinfo{
    height: 19.6rem;
    width: 22rem;
    margin: 0px 16.5px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.937);
}
.link {
    position: relative;
    align-items: center;
}
.link img{
    margin: -1px 27px;
}

.link span{
    color: #153bad;
    font-size: 22px;
    letter-spacing: 1px;
    font-family:poppins ,sans-serif;
    font-weight:bolder;
    letter-spacing:2px;
    margin-left:40%;
    padding-top:1%;
}
.link h2{
position: absolute;
display: flex;
font-size: 14px;
color: #000000;
font-family: poppins;
margin: 2% 30px;
}

.shareco{
    height: 24.2rem;
    width: 22rem;
    margin: 0px 16.5px;
    border-radius: 12px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.937);
}
.share{
position: relative;
align-items: center;
}
.share span{
color: #153bad;
font-size: 22px;
letter-spacing: 1px;
font-family:poppins ,sans-serif;
font-weight:bolder;
letter-spacing:2px;
padding-left:22%;
padding-top: -2%;
}
.share img{
    margin: 15px 22% ;
}
.share h3{
position: absolute;
display: flex;
font-size: 14px;
font-family: poppins;
padding: 30px;
margin: -7.5% 0 0;
}
.experi{
    height: 23rem;
    width: 22rem;
    margin: 0px 16.5px;
    border-radius: 12px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.937);
}
.experience{
display: flex;
align-items: center;
}
.exper img{
    margin: -2px 20.5% ;
    padding: -20px 0px;
}
.exper span{
color: #153bad;
font-size: 22px;
letter-spacing: 1px;
display: flex;
font-size: 18px;
font-family:poppins ,sans-serif;
font-weight:bolder;
letter-spacing:2px;
padding-left:17.5%;
margin-top: -5%;
font-size: 18px;
}
.experience h4{
position: absolute;
display: flex;
font-family: poppins;
padding: 30px;
font-size: 14px;
margin: 35%  0px 0;

}
.trak{
    height: 26rem;
    width: 22rem;
    margin: 0px 16.5px;
    border-radius: 12px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.937);
}
.track{
display: flex;
align-items: center;
}
.tk img{
    margin: 7px 7% ;
}

.tk span{
color: #153bad;
font-size: 22px;
letter-spacing: 1px;
font-size: 18px;
font-family:poppins ,sans-serif;
font-weight:bolder;
letter-spacing:2px;
padding-left:14%;
margin-top: 5%;
display: flex;
}
.track h5{
position: absolute;
display: flex;
font-size: 14px;
font-family: poppins;
padding: 30px;
margin: 32% 0 0;
}